Source: spongiform-server
Section: ruby
Priority: optional
Maintainer: spacepilothannah <spacepilothannah@gmail.com>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               rake (>= 12.3.2),
               ruby-haml (>= 5.0.4),
               ruby-roda (>= 3.17.0),
               ruby-roda-basic-auth (>= 0.1.1),
               ruby-sequel (>= 5.18.0),
               ruby-sqlite3 (>= 1.4.0),
               ruby-tilt (>= 2.0.9)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/spacepilothannah/spongiform-server.git
Homepage: https://github.com/spacepilothannah/spongiform-server
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: spongiform-server
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: rake (>= 12.3.2),
         ruby | ruby-interpreter,
         ruby-haml (>= 5.0.4),
         ruby-roda (>= 3.17.0),
         ruby-roda-basic-auth (>= 0.1.1),
         ruby-sequel (>= 5.18.0),
         ruby-sqlite3 (>= 1.4.0),
         ruby-tilt (>= 2.0.9),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Allow/disallow access to websites using Squidguard via an API
 Long description here
