Source: spongiform-server
Section: ruby
Priority: optional
Maintainer: spacepilothannah <spacepilothannah@gmail.com>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               ruby-bundler
Standards-Version: 3.9.8
Vcs-Git: https://github.com/spacepilothannah/spongiform-server.git
Homepage: https://github.com/spacepilothannah/spongiform-server
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: spongiform-server
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ruby-bundler
         ${misc:Depends},
         ${shlibs:Depends}
Description: Allow/disallow access to websites using Squidguard via an API
 Long description here
